{% extends 'base.html' %}

{% block content %}
<h2>To-Do List</h2>
<h5>Username:</h5>
<p> {{user}} </p>
<table>
    <tr>
    <th>Creation Date</th>
    <th>Title</th>
    <th>Description</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for task in list_task %}
        {% if user == task.user %}
        <tr>
            <th>{{task.date}}</th>
            <th>{{task.title}}</th>
            <th>{{task.description}}</th>
        </tr>
        {% endif %}
    {% endfor %}
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
<button><a href="{% url 'todolist:create-task' %}">Tambah task baru</button>


{% endblock content %}